body { background-color: #f8f9fa; padding: 50px 0;margin: auto; }
        .card { border: none; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
        .btn-edit { background-color: #ffc107; color: #000; }